>sp|O24621|SIGC_ARATH RNA polymerase sigma factor sigC OS=Arabidopsis thaliana OX=3702 GN=SIGC PE=2 SV=1
MASFNSFPIPKQIVGSSSSSSSSTSRPRILVRSSLTSSMTSTNSMLVFVHPHPLIKHWLS
LLRSDQTSFPIFVRIPMTSVVATRWSFLSSVKEESRIYQNDSLKACGCASVSPYTAQNNV
YVELKDPKENIGVGSAERSYSSRSMLQYNLLAKNLLALEETFVALDSVRMERDIMLQMGK
LGAAELFKTCLSRYRGSSITSCLSDTTELVDTTPNQQVFVSSRRKVKKKARRSSVTAENG
DQSSLPIGLRTTWNNIDVPRVRRPPKYRKKRERISRNETEMSTGVKIVADMERIRTQLEE
ESGKVASLSCWAAAAGMNEKLLMRNLHYGWYCRDELVKSTRSLVLFLARNYRGLGIAHED
LIQAGYVGVLQGAERFDHTRGYKFSTYVQYWIRKSMSTMVSRHARGVHIPSSIIRTINHI
QKARKTLKTSHGIKYAADEEIAKLTGHSVKKIRAANQCLKVVGSIDKKVGDCFTTKFLEF
TPDTTMESPEEAVMRQSARRDIHDLLEGLEPREKQVMVLRYGLQDYRPKSLEEIGKLLKV
SKEWIRKIERRAMAKLRDQPNAEDLRYYLNQ
>sp|P0AEM6|FLIA_ECOLI RNA polymerase sigma factor FliA OS=Escherichia coli (strain K12) OX=83333 GN=fliA PE=1 SV=1
MNSLYTAEGVMDKHSLWQRYVPLVRHEALRLQVRLPASVELDDLLQAGGIGLLNAVERYD
ALQGTAFTTYAVQRIRGAMLDELRSRDWVPRSVRRNAREVAQAIGQLEQELGRNATETEV
AERLGIDIADYRQMLLDTNNSQLFSYDEWREEHGDSIELVTDDHQRENPLQQLLDSNLRQ
RVMEAIETLPEREKLVLTLYYQEELNLKEIGAVLEVGESRVSQLHSQAIKRLRTKLGKL
>sp|Q0J7T6|SIGA_ORYSJ RNA polymerase sigma factor sigA OS=Oryza sativa subsp. japonica OX=39947 GN=SIGA PE=2 SV=2
MTATPAVIGLSAGNRLLSASFGPTDLMPDKVSLGVGGGGGGGGGGGGGDAMSFAPPAPAT
PKLTAVAAHRLKLSPHGRAQVMRALRHHSSAAAALAPPPPPPPPPTPSPASRAAHAHDLE
SSLEAIVLLQRSMLEKQWELPFDDDNHAMAIGLAEDDDDTSKATVVVARSSVSARQRRMS
GRRRGRTKNGAAHFAVSPELIQSRNRIYLRGTVSKELLTHKQVVHLSHKIKDGIWLQQQR
SKLKEKLGNEPSYKQLAHSLKISPPELRSRMHESFLAREMLTMSNLRLVISIAQKYDNLG
VELADLIQGGLIGLLRGIEKFDASRGFRISTYVYWWIRQGVSRALAENSKTFRLPTYLHE
RLIAIRGAKYELEDQGIAPTIENIAGSLNISEKKVLNATEAVNKVLSLDQQAFPSLNGLP
GETLHSYIEDQNVANDPWHGFEEWYLKEEVNKLLNSTLNERERDIIRLYHGIGKQCHTWE
DISRQFGLSRERVRQVGLIAMEKLKHAARRKNLEALLEDY
>sp|O22056|SIGB_ARATH RNA polymerase sigma factor sigB OS=Arabidopsis thaliana OX=3702 GN=SIGB PE=2 SV=2
MSSCLLPQFKCPPDSFSIHFRTSFCAPKHNKGSVFFQPQCAVSTSPALLTSMLDVAKLRL
PSFDTDSDSLISDRQWTYTRPDGPSTEAKYLEALASETLLTSDEAVVVAAAAEAVALARA
AVKVAKDATLFKNSNNTNLLTSSTADKRSKWDQFTEKERAGILGHLAVSDNGIVSDKITA
SASNKESIGDLESEKQEEVELLEEQPSVSLAVRSTRQTERKARRAKGLEKTASGIPSVKT
GSSPKKKRLVAQEVDHNDPLRYLRMTTSSSKLLTVREEHELSAGIQDLLKLERLQTELTE
RSGRQPTFAQWASAAGVDQKSLRQRIHHGTLCKDKMIKSNIRLVISIAKNYQGAGMNLQD
LVQEGCRGLVRGAEKFDATKGFKFSTYAHWWIKQAVRKSLSDQSRMIRLPFHMVEATYRV
KEARKQLYSETGKHPKNEEIAEATGLSMKRLMAVLLSPKPPRSLDQKIGMNQNLKPSEVI
ADPEAVTSEDILIKEFMRQDLDKVLDSLGTREKQVIRWRFGMEDGRMKTLQEIGEMMGVS
RERVRQIESSAFRKLKNKKRNNHLQQYLVAQS
>sp|Q9LD95|SIGF_ARATH RNA polymerase sigma factor sigF, chloroplastic OS=Arabidopsis thaliana OX=3702 GN=SIGF PE=1 SV=1
MEATRNLVSSSPSFQTKTHLKSSYSSPSSVVMLHDQTTTPVVNSRHLNSLSRHFPASVLS
QEPREESRPLSHALRDDRTSQLTLERRQFDELVSSREDEKFEQQLLHSTGLWNLLISPLT
SETKLPAVVSPLADAELCDVVALAQKALSASKQAALLVDDTEANPSDNIKDSLSTSSSMS
LPEKGNIVRSKRQLERRAKNRRAPKSNDVDDEGYVPQKTSAKKKYKQGADNDDALQLFLW
GPETKQLLTAKEEAELISHIQHLLKLEKVKTKLESQNGCEPTIGEWAEAMGISSPVLKSD
IHRGRSSREKLITANLRLVVHIAKQYQNRGLNFQDLLQEGSMGLMKSVEKFKPQSGCRFA
TYAYWWIRQSIRKSIFQNSRTIRLPENVYMLLGKVSEARKTCVQEGNYRPSKEELAGHVG
VSTEKLDKLLYNTRTPLSMQQPIWSDQDTTFQEITPDSGIETPTMSVGKQLMRNHVRNLL
NVLSPKERRIIKLRFGIDGGKQRSLSEIGEIYGLSKERVRQLESRALYRLKQNMNSHGLH
AYADLLV
>sp|P13445|RPOS_ECOLI RNA polymerase sigma factor RpoS OS=Escherichia coli (strain K12) OX=83333 GN=rpoS PE=1 SV=3
MSQNTLKVHDLNEDAEFDENGVEVFDEKALVEQEPSDNDLAEEELLSQGATQRVLDATQL
YLGEIGYSPLLTAEEEVYFARRALRGDVASRRRMIESNLRLVVKIARRYGNRGLALLDLI
EEGNLGLIRAVEKFDPERGFRFSTYATWWIRQTIERAIMNQTRTIRLPIHIVKELNVYLR
TARELSHKLDHEPSAEEIAEQLDKPVDDVSRMLRLNERITSVDTPLGGDSEKALLDILAD
EKENGPEDTTQDDDMKQSIVKWLFELNAKQREVLARRFGLLGYEAATLEDVGREIGLTRE
RVRQIQVEGLRRLREILQTQGLNIEALFRE
>sp|P00579|RPOD_ECOLI RNA polymerase sigma factor RpoD OS=Escherichia coli (strain K12) OX=83333 GN=rpoD PE=1 SV=2
MEQNPQSQLKLLVTRGKEQGYLTYAEVNDHLPEDIVDSDQIEDIIQMINDMGIQVMEEAP
DADDLMLAENTADEDAAEAAAQVLSSVESEIGRTTDPVRMYMREMGTVELLTREGEIDIA
KRIEDGINQVQCSVAEYPEAITYLLEQYDRVEAEEARLSDLITGFVDPNAEEDLAPTATH
VGSELSQEDLDDDEDEDEEDGDDDSADDDNSIDPELAREKFAELRAQYVVTRDTIKAKGR
SHATAQEEILKLSEVFKQFRLVPKQFDYLVNSMRVMMDRVRTQERLIMKLCVEQCKMPKK
NFITLFTGNETSDTWFNAAIAMNKPWSEKLHDVSEEVHRALQKLQQIEEETGLTIEQVKD
INRRMSIGEAKARRAKKEMVEANLRLVISIAKKYTNRGLQFLDLIQEGNIGLMKAVDKFE
YRRGYKFSTYATWWIRQAITRSIADQARTIRIPVHMIETINKLNRISRQMLQEMGREPTP
EELAERMLMPEDKIRKVLKIAKEPISMETPIGDDEDSHLGDFIEDTTLELPLDSATTESL
RAATHDVLAGLTAREAKVLRMRFGIDMNTDYTLEEVGKQFDVTRERIRQIEAKALRKLRH
PSRSEVLRSFLDD
>sp|O24629|SIGA_ARATH RNA polymerase sigma factor sigA OS=Arabidopsis thaliana OX=3702 GN=SIGA PE=1 SV=1
MATAAVIGLNTGKRLLSSSFYHSDVTEKFLSVNDHCSSQYHIASTKSGITAKKASNYSPS
FPSSNRHTQSAKALKESVDVASTEKPWLPNGTDKELEEECYDDDDLISHSVEAILLLQKS
MLEKSWNLSFEKAVSSEYPGKGTIRKKKIPVITCSGISARQRRIGAKKKTNMTHVKAVSD
VSSGKQVRGYVKGVISEDVLSHVEVVRLSKKIKSGLRLDDHKSRLKDRLGCEPSDEQLAV
SLKISRAELQAWLMECHLAREKLAMSNVRLVMSIAQRYDNLGAEMSDLVQGGLIGLLRGI
EKFDSSKGFRISTYVYWWIRQGVSRALVDNSRTLRLPTHLHERLGLIRNAKLRLQEKGIT
PSIDRIAESLNMSQKKVRNATEAVSKVFSLDRDAFPSLNGLPGETHHSYIADTRLENNPW
HGYDDLALKEEVSKLISATLGEREKEIIRLYYGLDKECLTWEDISKRIGLSRERVRQVGL
VALEKLKHAARKRKMEAMILKN
>sp|P07860|RPSF_BACSU RNA polymerase sigma-F factor OS=Bacillus subtilis (strain 168) OX=224308 GN=sigF PE=1 SV=1
MDVEVKKNGKNAQLKDHEVKELIKQSQNGDQQARDLLIEKNMRLVWSVVQRFLNRGYEPD
DLFQIGCIGLLKSVDKFDLTYDVRFSTYAVPMIIGEIQRFIRDDGTVKVSRSLKELGNKI
RRAKDELSKTLGRVPTVQEIADHLEIEAEDVVLAQEAVRAPSSIHETVYENDGDPITLLD
QIADNSEEKWFDKIALKEAISDLEEREKLIVYLRYYKDQTQSEVAERLGISQVQVSRLEK
KILKQIKVQMDHTDG
>sp|Q9ZNX9|SIGE_ARATH RNA polymerase sigma factor sigE, chloroplastic/mitochondrial OS=Arabidopsis thaliana OX=3702 GN=SIGE PE=1 SV=1
MGVVSISSSAARSPLGLGNDLLTHRSSLKKPSIVAFKADDSSNSALIIPPREQVLIPAEK
HNEKKREVTRRKPCKTPKKPLSLEHNSAPSCSLGVDYNEAAARLESIYKLSPATTTLVED
DVEDGGSKAKVSRRRKRKESGEEKKVVVRNNVKKEKRMSLDKRIALKRNVQEKPVVASVD
KKVTKRQQEEEKIERLVRDYSASNDIVSLDWKKMKIPPVLSSTEHAWLFKLMQPMKALLE
VKDVLQKSLGREPREAEIAGEINMTAGEVKKKIEIGRAARNKLIKHNLRLVLFVMNKYFH
EFTNGPKFQDLCQAGMRGLITAIDRFEPKRKFRLSTYGLFWIRHAIIRSMTTSNFTRVPF
GLESVRVEIYKAKTELWFEMGRPPTEDEVVERLKITPERYREVLRAAKPVLSLNSKHSVT
QEEFINGITDVDGVGANNSRQPALLRLALDDVLDSLKPKESLVIRQRYGLDGKGDRTLGE
IAGNLNISREMVRKHEVKALMKLKHQARVDYLRQYIV